{
  "extends": [
    "airbnb-typescript",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["jsx-a11y"],
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "max-len": "warn",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "no-shadow": "warn",
    "react/no-array-index-key": "warn",
    "react/destructuring-assignment": "warn",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "react/no-unescaped-entities": "warn",
    "jsx-a11y/anchor-has-content": "warn",
    "import/no-cycle": "warn",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "jsx-a11y/label-has-associated-control": "warn",
    "max-classes-per-file": ["error", 2],
    "no-underscore-dangle": "warn",
    "react/display-name": 0,
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useRecoilCallback|useRecoilTransaction_UNSTABLE)"
      }
    ]
  }
}
